*{
    font-family: sans-serif;
    width: 1024px;
    margin: auto;
}

h1{
    text-align: left;
    background-color: orange; 
    padding: 10px;
    font-size: 28px;
    width: auto;
    border: 1.5px solid;
    box-sizing: border-box;
}

.mainheader{
    font-size: 17px;
    border-radius: 2px;
    border: 1.5px solid;
    box-sizing: border-box;
    background-color: wheat;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 80%;
    padding: 12px;
    text-align: center;
    width: auto;
}

.subheader{
    background-color: rgb(245, 222, 179);
    border-radius: 2px;
    border: 1.5px solid;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 35%;
    padding: 30px;
    text-align: left;
    width: auto;
    height: auto;

}

aside{
    background-color: rgb(167, 216, 167);
    width: 25%;
    height: 100%;
    
}

body{
    font-family: sans-serif;  
    background-color: #ffee57;
    border-radius: 2px;
    border: 1.5px solid;
    text-align: center;
}




/* nav{
    justify-content: space-between;
    background-color: cornflowerblue;
    border-radius: 2px;
    border: 1.5px solid;
    position: absolute;
    top: 0px;
    width: 50%;
    z-index: 1;
    box-sizing: border-box;
    
}
*/


nav{
    text-align: center;
    position: fixed;
    top: 0px;  
    padding-top: 10px;
    padding: 10px;
    font-size: 28px;
    width: auto;
    border: 1.5px solid;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: cornflowerblue;
}



li.navmenu {

    display: inline;
}





.pictureframe{
    
}