*{
    font-family: sans-serif;
    width: 1024px;
    margin: auto;  
}

h1{
    text-align: left;
    background-color: orange; 
    padding: 10px;
    font-size: 28px;
    width: auto;
    border: 1.5px solid;
    box-sizing: border-box;
}

.mainheader{
    background-color: rgb(245, 222, 179);
    border-radius: 2px;
    border: 1.5px solid;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 70%;
    padding: 30px;
    text-align: left;
    font-size: 20px;
    width: auto;
    height: auto;
    
}

.subheader{
    background-color: rgb(245, 222, 179);
    border-radius: 2px;
    border: 1.5px solid;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 35%;
    padding: 30px;
    text-align: left;
    width: auto;
    height: auto;
    font-size: 18px;

}

aside{
    background-color: rgb(167, 216, 167);
    width: 11.32%;
    height: auto;
    text-align: left;
    position: absolute;
    left: 60%;
    top: 0px;  
    padding-top: 60%;
    padding: 10px;
    font-size: 28px;
    z-index: -1;
    border-radius: 2px;
    border: 1.5px solid;
}

body{
    font-family: sans-serif;  
    background-color: #ffee57;
    border-radius: 2px;
    border: 1.5px solid;
    text-align: center;
}



nav{
    
    position: absolute;
    top: 0px; 
    font-size: 35px;
    padding: 10px;
    font-size: 28px;
    border: 1.5px solid;
    box-sizing: border-box;
    float: right;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    flex-flow: inherit;
    

    
    
    
    background-color: cornflowerblue;
    
    
}

li.navmenu{
  
    display: inline;
}

img{
    width: 200px;
    height: 300px;
}

article{
    display: inline-block;
}